.home-header {
  padding: 24px 0;
  background-color: #f8f8f8;
  border-bottom: 1px solid #ddd;
}

.home-header .container {
  display: flex;
  justify-content: center;
}

.home-nav-list {
  display: flex;
  gap: 24px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.home-nav-list a {
  text-decoration: none;
  font-size: 20px;
  font-weight: 600;
  color: #4e75ff;
  transition: color 0.31s;
}

.home-nav-list a:hover {
  color: #003eff;
}

.home-main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 80px);
  background-color: #ffffff;
}
